################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codecademy Choice Story/.vs/

obj/

bin/