################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Codecademy Choice Story/.vs/

[Oo]bj/

[Bb]in/